[Desktop Entry]
Encoding=UTF-8
Name=Link to i3blocks(1) - A flexible scheduler for i3bar
Type=Link
URL=http://vivien.github.io/i3blocks/
Icon=text-html
