[Desktop Entry]
Encoding=UTF-8
Name=Link to vivien/i3blocks: A flexible scheduler for your i3bar blocks
Type=Link
URL=https://github.com/vivien/i3blocks
Icon=text-html
