[Desktop Entry]
Encoding=UTF-8
Name=Link to How to install variety in Linux Mint 18 with many tips and pointers - ERiK DuBoiS
Type=Link
URL=http://erikdubois.be/install-variety-linux-mint-18-many-tips-pointers/
Icon=text-html
